*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Pixelify Sans', sans-serif;
}
body{
    background-color: rgb(234, 206, 206);
}
.logo {
    max-width: 12rem;
    margin-left: 0px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: rgb(250, 250, 250);
}

.listaMenu{
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.listaMenu li a {
    color: black;
    font-size: 30px;
    font-weight: 700;
    margin-right: 12px;
}

.cerrarMenu,
.abrirMenu {
    display: none;

}

@media screen and (max-width: 500px){
    .abrirMenu,
    .cerrarMenu{
        display: block;
        border: none;
        font-size: 2.5rem;
        cursor: pointer;
    }
    .cerrarMenu{
        background-color: transparent;
        color: antiquewhite;
    }
    .menuPrincipal{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1.5rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        padding: 5rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.35);
    }

    .menuPrincipal.visible{
        opacity: 1;
        visibility: visible;
    }
    
    .listaMenu{
        flex-direction: column;
        align-items: end;
    }
    .listaMenu li a {
        color: antiquewhite;
    }
}